services:
  api:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    environment:
      
      DATABASE_URL: mysql+pymysql://root:4bretesesamO@mysql-server:3306/fastapi_incidentes
    networks:
      - mysql-net

networks:
  mysql-net:
    external: true